# Artificial Neural Network

The dataset Churn_Modelling.csv have details of bank customer. We have to train model that predic weather the person exited that bank or not.

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
import keras
from keras.models import Sequential
from keras.layers import Dense,LeakyReLU,PReLU,ELU,Dropout
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("E:\\All Data Set\\Machine Learning Data Set\\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df=df.drop(['RowNumber','CustomerId',"Surname"],axis=1)
x=df.drop('Exited',axis=1)

#Changing Categorical features to label encoading
x=pd.get_dummies(data=x,columns=['Geography','Gender'],drop_first=True)
y=df['Exited']

In [4]:
#Spliting dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

#Feature Scaling
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [5]:
classifier=Sequential()

"""Add Layer one"""
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
classifier.add(Dropout(0.1))

"""Adding layer 2nd layer"""
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
classifier.add(Dropout(0.1))

"""Adding output layer"""
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [6]:
#Fitting the ANN to training set
model=classifier.fit(x_train,y_train,batch_size=10,epochs=25,validation_split=0.33)

#Prediction
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)

Epoch 1/25
536/536 [==============================] - 7s 13ms/step - loss: 0.5948 - accuracy: 0.7380 - val_loss: 0.4916 - val_accuracy: 0.7970
Epoch 2/25
536/536 [==============================] - 2s 4ms/step - loss: 0.4953 - accuracy: 0.7938 - val_loss: 0.4594 - val_accuracy: 0.8020
Epoch 3/25
536/536 [==============================] - 3s 6ms/step - loss: 0.4713 - accuracy: 0.8020 - val_loss: 0.4470 - val_accuracy: 0.8031
Epoch 4/25
536/536 [==============================] - 2s 4ms/step - loss: 0.4558 - accuracy: 0.8074 - val_loss: 0.4362 - val_accuracy: 0.8103
Epoch 5/25
536/536 [==============================] - 7s 13ms/step - loss: 0.4464 - accuracy: 0.8106 - val_loss: 0.4272 - val_accuracy: 0.8111
Epoch 6/25
536/536 [==============================] - 12s 22ms/step - loss: 0.4321 - accuracy: 0.8169 - val_loss: 0.4191 - val_accuracy: 0.8160
Epoch 7/25
536/536 [==============================] - 17s 32ms/step - loss: 0.4297 - accuracy: 0.8153 - val_loss: 0.4127 - val_accuracy: 0.8186
Epoch 8/25
536/536 [==============================] - 12s 22ms/step - loss: 0.4197 - accuracy: 0.8188 - val_loss: 0.4071 - val_accuracy: 0.8209
Epoch 9/25
536/536 [==============================] - 18s 33ms/step - loss: 0.4156 - accuracy: 0.8199 - val_loss: 0.4025 - val_accuracy: 0.8247
Epoch 10/25
536/536 [==============================] - 12s 22ms/step - loss: 0.4145 - accuracy: 0.8162 - val_loss: 0.3995 - val_accuracy: 0.8258
Epoch 11/25
536/536 [==============================] - 10s 19ms/step - loss: 0.4100 - accuracy: 0.8173 - val_loss: 0.3968 - val_accuracy: 0.8228
Epoch 12/25
536/536 [==============================] - 12s 23ms/step - loss: 0.4008 - accuracy: 0.8196 - val_loss: 0.3930 - val_accuracy: 0.8220
Epoch 13/25
536/536 [==============================] - 7s 14ms/step - loss: 0.4061 - accuracy: 0.8153 - val_loss: 0.3915 - val_accuracy: 0.8247
Epoch 14/25
536/536 [==============================] - 13s 24ms/step - loss: 0.3963 - accuracy: 0.8203 - val_loss: 0.3884 - val_accuracy: 0.8258
Epoch 15/25
536/536 [==============================] - 7s 12ms/step - loss: 0.3981 - accuracy: 0.8171 - val_loss: 0.3861 - val_accuracy: 0.8262
Epoch 16/25
536/536 [==============================] - 7s 12ms/step - loss: 0.3971 - accuracy: 0.8207 - val_loss: 0.3846 - val_accuracy: 0.8236
Epoch 17/25
536/536 [==============================] - 7s 12ms/step - loss: 0.3996 - accuracy: 0.8192 - val_loss: 0.3834 - val_accuracy: 0.8273
Epoch 18/25
536/536 [==============================] - 7s 12ms/step - loss: 0.3974 - accuracy: 0.8160 - val_loss: 0.3817 - val_accuracy: 0.8247
Epoch 19/25
536/536 [==============================] - 12s 22ms/step - loss: 0.3885 - accuracy: 0.8194 - val_loss: 0.3797 - val_accuracy: 0.8247
Epoch 20/25
536/536 [==============================] - 12s 22ms/step - loss: 0.3950 - accuracy: 0.8173 - val_loss: 0.3789 - val_accuracy: 0.8266
Epoch 21/25
536/536 [==============================] - 12s 22ms/step - loss: 0.3934 - accuracy: 0.8182 - val_loss: 0.3780 - val_accuracy: 0.8243
Epoch 22/25
536/536 [==============================] - 1s 3ms/step - loss: 0.3927 - accuracy: 0.8201 - val_loss: 0.3781 - val_accuracy: 0.8270
Epoch 23/25
536/536 [==============================] - 1s 3ms/step - loss: 0.3885 - accuracy: 0.8181 - val_loss: 0.3767 - val_accuracy: 0.8273
Epoch 24/25
536/536 [==============================] - 12s 22ms/step - loss: 0.3914 - accuracy: 0.8321 - val_loss: 0.3772 - val_accuracy: 0.8448
Epoch 25/25
536/536 [==============================] - 18s 33ms/step - loss: 0.3872 - accuracy: 0.8419 - val_loss: 0.3757 - val_accuracy: 0.8482

In [9]:
cm=confusion_matrix(y_test, y_pred)
cm

array([[1539,   56],
       [ 230,  175]], dtype=int64)

In [12]:
print("Accuracy of ANN model: ",(1539+175)/(1539+56+230+175)*100,"%")

Accuracy of ANN model:  85.7 %